:host {
  display: block;
  width: 100%;
}

.heading {
  margin: 0 24px 0 0;
}

.space-component {
  height: auto;
  min-height: 3rem;
  overflow: visible;
}

.space-component1 {
  height: 40px;
  overflow: visible;
}

.heading1 {
  margin: 0 0 8px 0;
}

.text {
  margin: 12px 0 0 0;
}

.space-component2 {
  height: auto;
  min-height: 3rem;
  padding: 0 0 24px 0;
  overflow: visible;
}

.card {
  width: 100%;
}
