<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <h6 class="heading text-basic">Statistics</h6>
      <button nbButton class="right" size="medium" appearance="filled" status="info">
          Refresh
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component1 vbottom hleft col-md-12 background-transparent">
      <h6 class="text-basic">Today's profit</h6>
    </div>
    <div class="space space-component2 vtop hleft col-md-12 background-transparent">
      <h2 class="heading1 text-basic">572,900</h2>
      <nb-progress-bar status="primary" size="medium" value="66"></nb-progress-bar>
      <span class="text text-basic caption-2">Better than last week (70%)</span>
    </div>
    <div class="space space-component1 vbottom hleft col-md-12 background-transparent">
      <h6 class="text-basic">New orders</h6>
    </div>
    <div class="space space-component2 vtop hleft col-md-12 background-transparent">
      <h2 class="heading1 text-basic">6,387</h2>
      <nb-progress-bar status="primary" size="medium" value="45"></nb-progress-bar>
      <span class="text text-basic caption-2">Better than last week (30%)</span>
    </div>
    <div class="space space-component1 vbottom hleft col-md-12 background-transparent">
      <h6 class="text-basic">New comments</h6>
    </div>
    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <h2 class="heading1 text-basic">200</h2>
      <nb-progress-bar status="primary" size="medium" value="80"></nb-progress-bar>
      <span class="text text-basic caption-2">Better than last week (15%)</span>
    </div>
  </nb-card-body>
</nb-card>