@import '~@angular/material/theming';
@import 'src/scss/custom-app-theme.scss';

.default-shadow {
  @include mat-elevation(24);
}

.custom-shadow {
  $primary: map-get($custom-app-theme, primary);
  $elevation-color: mat-color($primary);
  
  @include mat-elevation-transition;
  @include mat-elevation(24, $elevation-color, 1);
}

.full-width-table {
  width: 100%;
}
