<nb-card class="card" accent="primary">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
    </div>
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <h5 class="text-basic">Login</h5>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <app-sign-up-form1 class="col-md-12"></app-sign-up-form1>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <button nbButton size="medium" appearance="filled" status="success" fullWidth>
          Login
      </button>
    </div>
  </nb-card-footer>
</nb-card>