@font-face {
  font-family: 'Noto-Sans';
  src: url('assets/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-myapp-primary: (
    50 : #FFFFFF,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #099BDA,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$AA-Mat-primary: mat-palette($mat-myapp-primary, 50);
$AA-Mat-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AA-Mat-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AA-Mat-theme: mat-light-theme((
  color: (
    primary: $AA-Mat-primary,
    accent: $AA-Mat-accent,
    warn: $AA-Mat-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AA-Mat-theme);

$config: mat-typography-config(
  $font-family: 'Noto-Sans',  
  $headline: mat-typography-level(32px, 48px, 700),
  $title: mat-typography-level(16px, 24px),
  $body-1: mat-typography-level(12px, 18px),
);

@include angular-material-typography($config);